:root {
  --colorTeal: rgba(79, 192, 141, 0.5);
  --colorRed: hsl(12.7, 97.4%, 55.3%);
  --colorDarkRed: hsl(345.8, 68.4%, 50.4%);
  /* --colorLightRed: hsl(358.7, 100%, 73.5%); */
  --colorLightRed: #f27281;
  --colorLightOrange: #f49e73;
  --colorCreamyellow: #f7d88b;
  --colorDeepRed: #f41851;
  --colorOrange: #ff9966;
  --colorCream: #fcfbe3;
  --colorWhite: #f5f5f5;
  --colorBlack: #2c3e50;
  --colorDarkBlack: #000;

  --colorText: var(--colorBlack);
  --colorPrimary: var(--colorLightRed);
  --colorBackground: var(--colorWhite);
  --iconFilter: invert(0%);
}

::selection {
  background: var(--colorPrimary);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--colorPrimary);
  /* Gecko Browsers */
}

.theme-dark {
  --colorText: var(--colorWhite);
  --colorBackground: var(--colorDarkBlack);
  --colorPrimary: var(--colorDeepRed);
  --iconFilter: invert(100%);
}

body {
  background-color: var(--colorBackground);
}

#app {
  /* text-align: center; */
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--colorText);
  line-height: 1.4;
  margin: 8vh 10vw;
}

#projects {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

p {
  font-size: 18px;
  max-width: 32em;
}

blockquote {
  max-width: 32em;
}

a {
  text-decoration: none;
  font-size: 1em;
  line-height: 1;
  color: inherit;
}

a.link {
  text-decoration: none;
  font-size: 1em;
  line-height: 1;
  color: inherit;
}

#projects a {
  font-size: 3rem;
  transition: ease-in-out 200ms;
}

@media screen and (max-width: 420px) {
  #projects a {
    font-size: 2rem;
  }
}

.text-pigments {
  font-family: "psyche";
  font-weight: 400;
}

.text-pigments:hover,
.text-pigments:focus {
  color: #df8039;
}

.text-scaletheory {
  font-weight: 400;
}

.text-scaletheory:hover,
.text-scaletheory:focus {
  color: #c47575;
}

.text-harmonize {
  font-weight: 400;
  font-family: "Playwrite GB S", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.text-harmonize:hover,
.text-harmonize:focus {
  color: #d95f59;
}

.text-sleepy {
  font-family: "Quicksand", sans-serif;
}

.text-sleepy:hover,
.text-sleepy:focus {
  /* TODO: add a dark mode on hover? */
  color: #96a3fc;
}

.arrow-back {
  color: var(--colorPrimary) !important;
}

/* Highlighted */
.highlighted {
  position: relative;
  white-space: nowrap;
}

.highlighted::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 66%;
  left: -0.1em;
  right: -0.15em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: var(--colorPrimary);
  border-radius: 0 5px 5px 0px;
}

.highlighted:focus {
  color: var(--colorCream);
  outline: none;
}

.highlighted:focus::after {
  top: 10%;
}

.highlighted:hover {
  color: var(--colorCream);
  outline: none;
}

.highlighted:hover::after {
  top: 10%;
}

/* Social */
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.social img {
  width: 26px;
  height: 26px;
  padding: 0 0 4px 0;
  filter: var(--iconFilter);
}

@media screen and (max-width: 450px) {
  .social img {
    width: 22px;
    height: 22px;
  }
}

.social a .icon {
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.25s;
  margin: 0 8px 0 0;
  border-bottom: 2.5px solid transparent;
  outline: none !important;
}

.social a .icon:hover {
  border-color: var(--colorPrimary);
}

.social a .icon:focus {
  border-color: var(--colorPrimary);
}

.social .link {
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.25s;
  border-bottom: 2.5px solid transparent;
  outline: none !important;
}

.social .link:hover {
  border-color: var(--colorPrimary);
}

.social .link:focus {
  border-color: var(--colorPrimary);
}

.gallery {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.gallery a {
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.gallery a:hover,
.gallery a:focus {
  background: var(--colorDarkBlack);
  color: var(--colorBackground);
}

.woodhill-content {
  display: flex;
  justify-content: space-between;
}

.image-main {
  height: 14rem;
}

@media screen and (max-width: 768px) {
  .woodhill-content {
    flex-direction: column;
    align-items: center;
  }

  .image-main {
    margin-bottom: 2rem;
  }
}
